@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f3f3f3;
}

#editor {
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
    /* padding-top: 3px; */
}

/* إضافة أكثر من نص */
#items {
    width: 100%;
    padding: 0px;
    height: 94px;
    background-color: #fff;
    border: 2px solid #dcdbdb;
    border-radius: 5px;
    font-family: "Tajawal", sans-serif;
    direction: rtl;
    overflow: scroll;
    z-index: 100;
}

#items .item {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    overflow: hidden;
}

#items .item:not(.active):hover {
    background-color: #d3d3d375;
}

#items .item.active {
    background-color: #00aaff;
}

#items .item .item-text {
    position: relative;
    top: 3px;
    right: 10px;
    width: fit-content;
    max-width: calc(100% - 20px - 30px); /* 20: right, 30: زر الإلغاء */
    font-size: 15px;
    color: black;
    white-space: nowrap; /* يمنع النص من انه يكسر السطر */
    overflow: hidden; /* يخفي النص اللي بيطلع برة العنصر */
    text-overflow: ellipsis; /* يحط الثلاث نقط (...) في الاخر */
}

#items .item.active .item-text {
    color: white;
}

#items .item img {
    position: absolute;
    left: 10px;
    top: 5px;
    width: 20px;
}

.add-item {
    position: relative;
    bottom: 5px;
    width: 100%;
    height: 35px;
    padding: 0px;
    border: 0px solid #dcdbdb;
    border-radius: 0 0 5px 5px;
    margin-bottom: 20px;
    font-family: "Tajawal", sans-serif;
    background-color: rgb(150, 150, 150);
    cursor: pointer;
    z-index: 50;
}

.add-item p {
    position: relative;
    top: 7px;
    width: 100%;
    text-align: center;
    color: #fff;
}

/* أزرار الإختيار */
.fast-method {
    width: 100%;
    margin-bottom: 15px !important;
}

.fast-method .choose-div a:not(:has(img)) {
    width: 50%;
    padding: 0;
    padding-top: 3px;
}

.text-anchor .start {
    padding-left: 7px;
}

.text-anchor .start.active {
    padding-left: 9px;
}

.text-anchor .end.active {
    padding-right: 2px;
}

.text-align img {
    position: relative;
    top: 5px;
    left: 5px;
    width: 20px;
    user-select: none;
}

.text-align .choose-div .start, .text-align .choose-div .end {
    width: 37px;
}

.text-align .choose-div .start img {
    left: 7px;
}

.choose-div .start.active {
    z-index: 1000;
}

.choose-div a:not(:has(img)) {
    text-align: center;
    font-weight: 700;
    width: 63px;
    padding-bottom: 5px;
}

.text-align .choose-div .end:not(.active) {
    padding-left: 2px;
}

.text-dir, .text-anchor .choose-div {
    margin-top: 10px !important;
    user-select: none;
}



.text-dir .start {
    padding-left: 5px;
}

.text-dir .start:not(.active) {
    padding-right: 2px;
}

.text-dir .end {
    padding-right: 5px;
}


.text-dir .end:not(.active) {
    padding-left: 2px;
}

.choose-div {
    display: flex;
}

.choose-div a {
    display: inline-block;
    min-width: 35px;
    min-height: 35px;
    border: 2px solid #000;
    cursor: pointer;
}

.choose-div .start {
    border-radius: 500px 0px 0px 500px;
    border-right: 0px;
}

.choose-div .mid {
    position: relative;
    right: 2px;
    border-radius: 0px 0px 0px 0px;
}

.choose-div:has(.mid) .end {
    position: relative;
    right: 4px;
}

.choose-div:not(:has(.mid)) .end {
    position: relative;
    right: 2px;
}

.choose-div .end {
    border-radius: 0px 500px 500px 0px;
    border-left: 0px;
}

.choose-div .active {
    border-color: #0096e0;
    background-color: #bce9ff;
}

.choose-div .active {
    border-right: 2px solid #0096e0 !important;
    border-left: 2px solid #0096e0 !important;
}

/* المدخلات */
.input {
    margin: 5px 0;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    display: block;
}

#text {
    font-size: 20px;
    padding: 10px;
    border: 2px solid #dcdbdb;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    resize: none;
    font-family: "Tajawal", sans-serif;
    direction: rtl;
}

#text:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-color: #0088cc;
}

/* حجم الخط */
#fontsize-input {
    margin: 15px 0;
}

#fontsize-input label {
    margin-right: 10px;
}

#fontsize-input input {
    width: 130px;
}

/* لون النص */
#color-input-hex {
    margin-bottom: 20px;
}

/* دوران النص */
.rotate-text {
    transform-origin: center bottom;
}

/* رفع الصورة */
#file {
    display: none;
}

.upload-label {
    background-color: #ddd;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
    margin: 10px 0;
}

.upload-label:hover {
    background-color: #bbb;
}

.upload-label:active {
    background-color: #aaa;
}

#image+.upload-label {
    display: inline-block;
}

/* إعدادات الصورة */
#canvas-container {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
}

#canvas-container img {
    display: block;
    width: 100%;
    height: auto;
}

#canvas-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.high-container {
    position: relative;
}

.high-container canvas, .high-container img {
    position: absolute;
    top: 0;
    right: 0;
}

/* التنزيل وتفعيل خيار المطوِّر */
#submit, .enable-developer {
    background-color: #0088cc;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    margin: 20px 0;
}

.enable-developer {
    background-color: red;
    margin-top: 0;
}

#submit:hover {
    background-color: #006699;
}

#submit:active {
    background-color: #005577;
}

#text-font-input, #font-bold-input {
    margin-bottom: 10px;
}

/* الشاشات المختلفة */
@media (max-width: 630px) {
    #editor {
        position: absolute;
        width: 95%;
        top: 0px;
        right: 2.5%;
    }

    #text {
        font-size: 16px;
        padding: 5px;
    }

    #submit {
        font-size: 16px;
    }
}
